language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-padded -Wno-exit-time-destructors main.cpp Data.cpp Equipment.cpp Laundromat.cpp Restaurant.cpp Server.cpp WashingMachine.cpp Wrapper.cpp Speaker.cpp && ./a.out " 
